.idea/
node_modules/
bower_components/

core/
profiles/
sites/
vendor/

!modules/
modules/*
!modules/custom/

/.eslintrc
/.eslintignore
/.editorconfig
/.csslintrc
/.eslintrc.json
/.gitattributes
composer.json
/example.gitignore
/index.php
/autoload.php
/update.php
/web.config
/robots.txt
/PATCHES.txt
composer.lock
/LICENSE.txt
/README.txt

themes/tweme/css/
build-front/.sass-cache/
flse/
themes/tweme/templates/page--foto.html.twig
themes/tweme/templates/page.html.twig
temp/
_db/
